a,
span
{
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;

    padding: 30px;

    cursor: pointer;
    text-decoration: none;

    color: rgba(11, 158, 194, .9);
}

.grid
{
    display: grid;

    grid-template: repeat(4, 300px) / repeat(3, 1fr);
}

.grid__item
{
    position: relative;

    cursor: pointer;
    transition: 1s;
}

.grid__item h3
{
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
    font-weight: 300;

    position: absolute;
    bottom: 0;

    padding: 20px;

    letter-spacing: .1em;

    color: #fff;
}

.grid__image
{
    width: 100%;
    height: 100%;
}

.grid__item:hover
{
    opacity: .5;
}

.false-block
{
    width: 100%;
    height: 70px;

    background: rgba(0, 0, 0, .9);
}

.footer-container
{
    position: fixed;
    z-index: 3;
    bottom: 0;

    width: 100%;

    border-top: 2px solid rgba(251, 0, 0, 1);
    background-color: rgba(0, 0, 0, .8);
}

.main-menu
{
    line-height: 70px;
}

.main-menu__list
{
    z-index: 3;

    display: flex;

    list-style: none;
}

.main-menu__item:hover
{
    transition: .5s;

    background-color: rgba(251, 0, 0, .6);
}

.main-menu__parent-nested-list
{
    position: relative;

    display: none;

    list-style: none;

    text-align: center;

    color: red;
}

.nested-list a
{
    font-size: 17px;

    padding: 10px;
}

.main-menu__item:hover > ul.main-menu__parent-nested-list
{
    position: absolute;
    bottom: 100%;

    display: block;

    background-color: rgba(0, 0, 0, .8);
}

.nested-list:hover
{
    transition: 1s;

    background-color: rgba(251, 0, 0, .4);
}

.main-menu__item_right-align
{
    margin: 0 0 0 auto;
}

/*-------click by image------*/
.popup
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    text-align: center;
}

.popup_bg
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;

    background: rgba(2,2,2,.8);
}


.popup_img
{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;

    max-height: 75%;

    transform: translate(-50%,-50%);
    pointer-events: none;
}

/*-------Active panel------*/

.active-panel
{
    position: fixed;
    z-index: 1;
    bottom: -350px;

    width: 100%;
    height: 350px;

    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    opacity: 0;
    background: rgba(0, 0, 0, .8);
}

.tumbler
{
    bottom: 72px;

    opacity: 1;
}

.red-active
{
    background-color: rgba(251, 0, 0, .6);
}

.active-panel__flex-wrapper
{
    display: flex;

    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

.active-panel__text
{
    margin-right: 30px;
}

.active-panel__text,
.active-panel__form-wrapper
{
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
}

.active-panel__header2
{
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;

    margin: 20px 0;

    color: #fff;
}

.active-panel__form
{
    display: flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.active-panel__paragraph,
.active-panel__input
{
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;

    color: #fff;
}

.active-panel__paragraph
{
    line-height: 25px;
}

.active-panel__link
{
    margin: 0;
    padding: 0;
    padding-right: 5px;
}

.active-panel__input
{
    padding: 10px 0 10px 10px;

    resize: none;

    color: #fff;
    border: none;
    background: rgba(130, 130, 130, .8);

    -webkit-flex-basis: 47%;
            flex-basis: 47%;
}

::-webkit-input-placeholder
{
    opacity: 1;
    color: #fff;
}
::-moz-placeholder
{
    opacity: 1;
    color: #fff;
}
:-moz-placeholder
{
    opacity: 1;
    color: #fff;
}
:-ms-input-placeholder
{
    opacity: 1;
    color: #fff;
}

.active-panel__input_big
{
    height: 90px;
    margin-top: 10px;
    padding-top: 10px;

    -webkit-flex-basis: 100%;
            flex-basis: 100%;
}

.active-panel__button
{
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;

    width: 100%;
    margin-top: 10px;
    padding: 10px 0;

    cursor: pointer;

    color: #fff;
    border: none;
}

.active-panel__button_left
{
    background: rgba(11, 158, 194, .8);
}

.active-panel__button_right
{
    background: rgba(221, 0, 0, .8);
}

.active-panel__button_left:hover
{
    -webkit-transition: .8s;
       -moz-transition: .8s;
        -ms-transition: .8s;
         -o-transition: .8s;
            transition: .8s;

    background: rgba(11, 158, 194, .3);
}

.active-panel__button_right:hover
{
    -webkit-transition: .8s;
       -moz-transition: .8s;
        -ms-transition: .8s;
         -o-transition: .8s;
            transition: .8s;

    background: rgba(221, 0, 0, .3);
}

.active-panel_close
{
    position: absolute;
    top: 20px;
    right: 20px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    -webkit-border-radius: 100%;
            border-radius: 100%;
    background-color: rgba(251, 0, 4, .6);
}

.active-panel_close:hover
{
    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    background-color: rgba(251, 0, 0, 1);
}

.active-panel_close:before,
.active-panel_close:after
{
    position: absolute;
    left: 9px;

    width: 2px;
    height: 20px;

    content: ' ';

    background-color: #333;
}

.active-panel_close:before
{
    transform: rotate(45deg);
}

.active-panel_close:after
{
    transform: rotate(-45deg);
}


/*--------Media--------*/

@media (max-width: 1065px)
{
    .active-panel__flex-wrapper
    {
        display: flex;

        width: 100%;
        padding-top: 20px;

        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: center;
                justify-content: center;
    }

    .active-panel
    {
        height: auto;
    }

    .active-panel__text
    {
        text-align: center;

        -webkit-flex-basis: 100%;
                flex-basis: 80%;
    }
}

@media only screen and (max-device-width: 1024px)
{
    .grid
    {
        display: grid;

        grid-template: repeat(6, 400px) / repeat(2, 1fr);
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
    }

    .grid__item h3
    {
        font-size: 1.5em;
    }

    .nested-list a,
    span
    {
        font-size: 1.5em;
    }

    .popup_img
    {
        width: 90%;
        height: 40%;
    }
}

@media (min-width: 400px) and (max-width: 1300px)
{
    .grid
    {
        display: grid;

        grid-template: repeat(6, 350px) / repeat(2, 1fr);
        grid-auto-flow: row;
        grid-auto-rows: 450px;
    }
}

@media (min-width: 300px) and (max-width: 950px)
{
    .grid
    {
        display: grid;

        grid-template: repeat(12, 1fr) / repeat(1, 1fr);
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
    }
}

@media (max-height: 425px)
{
    .false-block
    {
        height: 25px;
    }

    .main-menu
    {
        line-height: 40px;
    }

    .active-panel
    {
        height: auto;
    }
    .active-panel__button
    {
        margin-top: 3px;
    }

    .active-panel__button_right
    {
        margin-bottom: 8px;
    }

    .tumbler
    {
        bottom: 40px;
    }
}

@media (max-height: 330px)
{
    .active-panel
    {
        display: none;
    }
}


@media (max-width: 1080px) and (max-height: 350px)
{
    .active-panel__flex-wrapper
    {
        display: flex;

        width: 100%;
        padding-top: 0;

        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
    }

    .active-panel__text
    {
        -webkit-flex-basis: 45%;
                flex-basis: 45%;
    }
}

@media (max-width: 710px) and (max-height: 350px)
{
    .active-panel
    {
        display: none;
    }
}

@media (max-width: 680px) and (max-height: 640px)
{
    .active-panel__paragraph
    {
        display: none;
    }
}

@media (max-width: 1065px) and (max-height: 610px)
{
    .active-panel__paragraph
    {
        display: none;
    }
}
